<div class="meter blue nostripes">
    <span style="width: 10%"></span>
</div>
<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 qs">
    <label>For whom do you need classes for?</label>
</div>
<fieldset class="radfix">
    <div class="field">
        <div class="radio">
            <label class="optn">
               <input type="radio" ng-model="formData.q1sub" value="I need classes for myself">
               <span>I need classes for myself</span>
               <span class="ion-chevron-right"></span>
            </label>
        </div>
        <div class="radio">
            <label class="optn last">
                <input type="radio" ng-model="formData.q1sub"value="I need classes for my kid(s)">
                <span>I need classes for my kid(s)</span>
                <span class="ion-chevron-right"></span>
            </label>
        </div>
    </div>    
</fieldset>

<fieldset class="ng-ctrl">
    <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4"></div>
    <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">
        <a ui-sref="form.q1" class="prev pull-left ng-arrow"><span class="ion-android-arrow-back"></span></a>
        <a ui-sref="form.q2" class="next pull-right ng-arrow"><span class="ion-android-arrow-forward"></span></a>
    </div>
    <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4"></div>
</fieldset>
<a ui-sref="form.q1" style="margin:40px 0" class="button btn-o">Back</a>